@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body{
			background-image: url("images/b1.jpg") ;
			background-repeat: no-repeat;
  			/*background-attachment: fixed;*/
  			background-position: center;
  
}

.navBar{
	display: flex;
	margin: auto;
}
.navBar img{
	position: fixed;
}
ul{
	position: fixed;
	flex: 1;
	text-align: right;
	margin: 40px ;
	margin-left: 1100px;
}
ul li{
	display: inline-block;
	list-style: none;
	margin: 0px 25px;
}
ul li a{
	text-decoration: none;
	color: orange;
	font-size: 20px;
}
ul li a:hover{
	border-bottom: 2px solid #ff9933;
	transition: 0.4s;
}
.rest{
	display: flex;
	width:  80%;
	margin-top: 150px;
}
.restaurents{
	display: inline;
	margin: auto 10px;
	transition: transform .2s;
}
.restaurents a{
	text-decoration: none;
	color: orange;
	font-size: 20px;
	margin-left: 140px;

}
.restaurents:hover{
	transform: scale(1.1);
}
h2{
	color: orange;
	font-size: 35 px;
	padding: 10px;
}